
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/10/60083c48e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/18/2086c300e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/1d/60365e48e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/1d/90bb9a06e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/1f/60b70f5ce689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/2/6067ad36e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/28/c065a706e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/2d/70f4d0d4e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/2e/101494bbe689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/2e/804c09b2e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/41/009d4d3ee689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/4e/907828c5e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/53/10a52e86e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/55/40d14c48e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/55/70926a48e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/59/10525082e989001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/69/40440eb4e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/7b/d0388ec8e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/80/704f9f06e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/9a/40f56c18e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/9c/d0bbd800e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/9d/f04ec236e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/9f/50344348e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/a/b0a3df9ee789001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/af/d0cbb536e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/b3/b05ef9ace689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/b8/309fa536e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/bb/60c9a413e789001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/c5/d0a15048e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/c6/d0c4cb36e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/cf/001c6287e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/d/7034bc36e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/d3/0084e000e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/d4/f02b4748e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/d9/e009c736e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/e2/70f5ad06e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/f1/b003c000e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/f5/e0981991e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/f7/30d4b136e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/fe/001b3c7ce689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.history/ff/b072d6d4e689001c18face91de70e77e
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/e4/92/22/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/e4/b9/22/98/8a/2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/e4/b9/22/98/8a/29/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/e4/b9/22/98/8a/4a/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/e4/b9/22/98/8a/a6/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/e4/b9/22/98/8a/b9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/banco-digital/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.jdt.core/1481434790.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/217047792.index
.metadata/.plugins/org.eclipse.jdt.core/2397226259.index
.metadata/.plugins/org.eclipse.jdt.core/425594864.index
.metadata/.plugins/org.eclipse.jdt.core/712284992.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/banco-digital/2022/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/banco-digital/2022/2/7/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/banco-digital.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfe
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.si
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfe
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.si
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/884b5c4200116db249474c838d46b223/_0.cfe
.metadata/.plugins/org.eclipse.m2e.core/nexus/884b5c4200116db249474c838d46b223/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/884b5c4200116db249474c838d46b223/_0.si
.metadata/.plugins/org.eclipse.m2e.core/nexus/884b5c4200116db249474c838d46b223/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/884b5c4200116db249474c838d46b223/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.jdt/banco-digital.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
